# Created by https://www.toptal.com/developers/gitignore/api/obsidian
# Edit at https://www.toptal.com/developers/gitignore?templates=obsidian

### Obsidian ###
# config dir
.obsidian/

# End of https://www.toptal.com/developers/gitignore/api/obsidian

# token and crt
/Courses/BAKAVETS/34-ServiceAccount-Role-RoleBinding/example-1/token
/Courses/BAKAVETS/34-ServiceAccount-Role-RoleBinding/example-1/ca.crt